input {
	font-size: 100px;
}

[type="number"]{

	height: 200px;
	width: 397px;

}

	

textarea {
	font-size: 100px;
	width: 808px;
	height: 100px;
}

button {
	font-size: 100px;
	width: 100px;
	height: 100px ;
	margin: 0;
	padding: 50px;
	border: 4px double blue;
	background: lightblue;
}

body {
	background: #8c857d;
}
h1 {
	width: 400px;
	color: #fff;
	background: #38daff;
	border-radius: 600px;
	border: 4px double blue;
	margin: 50px auto;
	box-shadow: 20px 20px 10px 10px #000; 
	text-shadow: 2px 2px 7px #000;
}

h2 {
	width: 400px;
	color: #fff;
	background: #38daff;
	border-radius: 600px;
	border: 4px double blue;
	margin: 50px auto;
	box-shadow: 20px 20px 10px 10px #000; 
	text-shadow: 2px 2px 7px #000;
}



button {

	width: 200px;
	height: 200px;

}

div {

    height: 800px;
	text-align: center;
	border: 4px double blue;
	margin:0  200px;
	
	box-shadow: 20px 20px 10px 10px #000; 
	
}





